In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/pokemon.csv')
df
df.columns
df.describe()
df.sort_values(['HP'], ascending=True)


df['Test'] = df['HP'] + df['Attack']
df
df = df.drop(columns=['Test'])
df
df['Test'] = df.iloc[:, 5:11].sum(axis=1)
df
cols = list(df.columns)
cols
df = df[cols[0:5] + [cols[-1]] + [cols[-2]] + cols[5:11]]
df
df.to_csv('data/mod_file.csv')
df.to_excel('data/mod_file.xlsx')
df.to_csv('data/mod_file.txt', sep='\t')
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >= 70)]
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] >= 70)]
new_df
new_df = new_df.reset_index()
new_df
df

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,309,309,False,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,600,True,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,700,700,True,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,600,600,True,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,680,680,True,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,600,600,True,80,110,120,130,90,70

In [4]:
df[df['Type 1']=='Grass']

,#,Name,Type 1,Type 2,Total,Test,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,318,318,False,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,405,405,False,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,525,525,False,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,625,625,False,80,100,123,122,120,80
48,43,Oddish,Grass,Poison,320,320,False,45,50,55,75,65,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,313,False,56,61,65,48,45,38
719,651,Quilladin,Grass,NaN,405,405,False,61,78,95,56,58,57
720,652,Chesnaught,Grass,Fighting,530,530,False,88,107,122,74,75,64
740,672,Skiddo,Grass,NaN,350,350,False,66,65,48,62,57,52
741,673,Gogoat,Grass,NaN,531,531,False,123,100,62,97,81,68

In [1]:
df.groupby(['Type 1']).mean()

NameError: name 'df' is not defined